@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    height: 100vh;
    color: #FFF;
    font-family: 'Inter', sans-serif;
}

header {
    padding: 20px 0;
}

.logo img {
    width: 130px;
    margin: 5px 0;
}


ul {
    list-style: none;
    padding: 0 20px;
    overflow: hidden;
    transition: all .5s;
}

header {
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
}

p {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

header,
ul {
    display: flex;
    flex-direction: row;
}

ul a {
    text-decoration: none;
}

li {
    padding: 0 20px;
}


button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}


#botoesMenu a:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #f0141e;
    border: 1px solid #f0141e;
    height: 40px;
    transition: 0.3s;
    border-radius: 5px;
}

.content {
    width: 100%;
    height: 100vh;
}

main {
    width: 80%;
    margin-left: 10%;
}

/*welcome*/
#welcome {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}

.welcome-titles {
    width: 90%;
    height: 70%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}

.welcome-titles p {
    font-size: 3rem;
    padding: 50px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    font-family: Anton;
}

.welcome-titles p span.typed-text {
    font-weight: normal;
    color: #dd7732;
}

.welcome-titles p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.welcome-titles p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

#welcome img {
    width: 60%;
}

/* the end welcome*/


/*history*/
#history {
    height: 90vh;
    margin: 25px 0px;
}

#history h1 {
    margin-top: 15px;
}

.history-coluns {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 25px 15px;
    gap: 30px;
}

#history img {
    width: 70%;
}

.history-marvel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

/* the end history*/

/*carrossel herois e vilões*/

.carrossel {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    position: relative;
    height: 850px;
    width: 70%;
    display: flex;
    align-items: center;
}

.swiper {
    width: 1300px;
}

.card {
    height: 500px;
    width: 500px;
    position: relative;
    border-radius: 20px;
    margin: 20px 0;
    cursor: pointer;
    padding: 10px;
    background-color: #D3CBBB;
}

.card-content .image img {
    background-color: blueviolet;
}

.card {
    position: relative;
    border-radius: 20px;
    margin: 20px 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

section .card .image img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: all 0.4s;
    opacity: 60%;
}

section .card .image img:hover {
    transform: scale(1.07);
    opacity: 100%;
}


.swiper-pagination {
    position: absolute;
    margin-bottom: 125px;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #D3CBBB;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #B55B46;
}

/*curiosidades*/

.curiosidades-main {
    padding: 25px 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: -25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

.card-curio {
    width: 280px;
    height: 280px;
    margin: 25px auto;
    border-radius: 10px;
    background-color: #FFF;
    color: #0f0f0f;
    padding: 20px;
}



/*footer*/

.footer {
    background-color: #f0141e;
    height: 150px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.img-footer img {
    width: 20%;
}

span a {
    color: black;
}