@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*menu*/

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0 20px;
    overflow: hidden;
    transition: all .5s;
}

nav {
    background-color: #161616;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
}

.logo img{
    width: 150px;
}

p {
    color: #FFF;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 20px;
}

h1 {
    margin: 0;
    padding: 10px;
}

button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

ul a{
    text-decoration: none;
}

main{
    background-color: #1f1f1f;
    height: 100vh;
}

.container-fluid{
    background-color: #1F1F1F;
}

.title{
    color: #C72523;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}



.left{
    color: white;
}

.line1{
    height: 120%;
    border-right: 1px solid rgba(255, 0, 0, 0.603);
}

.line{
    height: 95%;
    border-right: 1px solid rgba(255, 0, 0, 0.603);
}

.right p{
    color: white;
}

.descricao{
    display: none;
    color: white;
}


.item-hero:hover .descricao{
    display: block;
}




.herois{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.heros-area{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 10px;
}

.heros-area img{
    width: 270px;
}

.heros-area img:hover {
    width: 290px;
    transition: 0.8s;
}

.herois h3{
    color: white;
    font-size: 16px;
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.herois audio{
    background-color: #C72523;
    padding: 5px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
}

.curiosidades{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 10px;
    margin-bottom: 5%;
}

.curiosidades p{
    color: white;
    font-size: 22px;
}

.footer{
    width: 100%;
    background-color: black;
    height: 220px;
}

.img-footer{
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
}

.img-footer img{
    width: 130px;
    margin-top: 13px;
}

.voltartopo a{
    color: #C72523;
    text-decoration: none;
}

.voltartopo a:hover{
    color: #518CCA;
}

a span{
    color: #518CCA;
}

.img-footer h6{
    font-size: 12px;
    margin-top: 15px;
}

