@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offcanvas-body a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-bottom: 10%;
}

.offcanvas-body a:hover{
    background-color: #E23636;
}

main{
    background-color: #1f1f1f;
    height: 100vh;
}
.offcanvas-body{
    background-color: black;
}

.navbar-logo{
    width: 150px;
}

.gif{
    width: 50%;
    margin-left: 25%;
}

.gif:hover{
    display: none;
    transition: 0.10s;
}

.gif-active{
    width: 80%;
    margin-left: 10%;
}

.carousel-inner{
    width: 100%;
    margin-top: 50px;
}

.container .carousel-inner{
    width: 100%;
}

.container-fluid{
    background-color: #1F1F1F;
}

.title{
    color: #E23636;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.historia{
    display: grid;
    grid-template-columns: 48% 1% 51%;
    grid-template-rows: 100%;
    gap: 10px;
    margin-bottom: 5%;
}

.historia .timely{
    width: 60%;
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
}

.historia a{
    color: #518CCA;
    font-size: 12px;
    float: right;
}

.left{
    color: white;
}

.line1{
    height: 120%;
    border-right: 1px solid rgba(255, 0, 0, 0.603);
}

.line{
    height: 95%;
    border-right: 1px solid rgba(255, 0, 0, 0.603);
}

.right p{
    color: white;
}

.text-hero p{
    color: white;
    margin-top: 15%;
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.herois{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.heros-area{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 10px;
}

.heros-area img{
    width: 270px;
}

.heros-area img:hover {
    width: 290px;
    transition: 0.8s;
}

.herois h3{
    color: white;
    font-size: 16px;
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.herois audio{
    background-color: #E23636;
    padding: 5px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
}

.curiosidades{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 10px;
    margin-bottom: 5%;
}

.curiosidades p{
    color: white;
    font-size: 22px;
}

.footer{
    width: 100%;
    background-color: black;
    height: 220px;
}

.img-footer{
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
}

.img-footer img{
    width: 130px;
    margin-top: 13px;
}

.voltartopo a{
    color: #E23636;
    text-decoration: none;
}

.voltartopo a:hover{
    color: #518CCA;
}

a span{
    color: #518CCA;
}

.img-footer h6{
    font-size: 12px;
    margin-top: 15px;
}

